
html,
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  background-color: #849d8f;
}

.index-page {
  background: #849d8f url("../img/slider-1.png") no-repeat;
  background-position: top center;
}

.container {
  width: 1144.8px;
  margin: 0 auto;
  padding: 0 2.3%;
}

/* Колонки */
.col-1 {
  width: 22.2%;
  margin-right: 2.2%;
}

.col-2 {
  width: 48.8%;
}

.col-4 {
  width: 95.4%;
}

/* ---- Заголовки ------ */
.slider-title {

  font-size: 60px;
  line-height: 60.35px;
  font-weight: 700;
  padding-top: 318px;
  margin: 0;
  margin-bottom: 30px;
}

.features-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.promo-title,
.catalog-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.news-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

/* Отображение слайдеров */
.slider-item:nth-child(2) {
  display: none;
}

.slider-item:nth-child(3) {
  display: none;
}
/* ---------------------- */

/* Распорка */
.clearfix {
  content: "";
  display: table;
  clear: both;
}

/* ----- Шапка ----------- */

.top-header {
  display: flex;
  justify-content: space-between;
}

.logo {
  padding-top: 10px;
  width: 154px;
  height: 64px;
  margin-right: 13px;
}

.main-navigation {
  flex-grow: 1;
  display: flex;
  align-items: center;
}


.main-menu {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
  padding-top: 5px;
}

.main-menu > li {
  box-sizing: border-box;
  position: relative;
  display: inline-block;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;

  white-space: nowrap;

  margin-right: 8px;
}

.main-menu > li > a {
  display: block;

  padding: 6px 10px;
  border-radius: 16px;
  color: #ffffff;
  text-decoration: underline;
}

.main-menu > li > a:hover {
  background-color: #f7f6f3;
  color: #333333;
  text-decoration: none;
}

.main-menu > li:hover .sub-menu {
  display: block;
}

.main-menu .sub-menu {
  display: none;
  box-sizing: border-box;
  width: 143px;
  position: absolute;
  top: 38px;
  left: -10px;
  margin: 0;
  padding: 0;
  list-style: none;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: 5;
}

.main-menu .sub-menu a {
  display: block;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  text-decoration: none;
  background: #f8f7f4;

  padding-top: 8px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 21px;
}

.sub-menu li:last-child a{
  box-sizing: border-box;
  padding-bottom: 14px;
}


.sub-menu .active a {
  padding-top: 9px;
  padding-bottom: 15px;
  font-weight: 700;
  position: relative;
}

.sub-menu .active a::before {
  position: absolute;
  top: 38px;
  left: 6px;
  content: "";
  width: 128px;
  border-bottom: 1px solid #d1d0ce;
  background-color: rgba(255, 0, 0, 0.5);
}

.sub-menu a:hover {
  background-color: #fbded7;
}

.sub-menu a:hover li {
  background-color: #fbded7;
}

.sub-menu a:active {
  background-color: #f6b5a5;
}

.user-block {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 5px;
}

.btn-nav {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}



.btn-nav-search {
  position: relative;
  border-radius: 50%;
  width: 33px;
  height: 33px;
  flex-shrink: 0;
  margin-right: 10px;
}

.btn-nav-search::before {
  position: absolute;
  width: 17px;
  height: 17px;
  content: "";
  background: transparent url("../img/icons/magnifier.png") no-repeat;
  top: 8px;
  left: 8px;
}

.btn-nav-search:hover {
  background-color: #f8f7f4;
}

.btn-nav-search:hover::before {
  background: transparent url("../img/icons/magnifier-hover.png") no-repeat;
}

.btn-nav-search:hover + .modal-search{
  display: block;
}

.btn-nav-login {
  position: relative;

  padding-top: 9px;
  padding-bottom: 8px;
  padding-left: 43px;
  padding-right: 16px;

  margin-right: 10px;
}

.btn-nav-login:hover + .modal-login{
  display: block;
}

.btn-nav-login::before {
  width: 21px;
  height: 19px;
  content: "";
  position: absolute;
  top: 7px;
  left: 16px;
  background: transparent url("../img/icons/login.png");
}
.btn-nav-login:hover {
  background-color: #f8f7f4;
  color: #323232;
}
.btn-nav-login:hover::before {
  background: url("../img/icons/login-hover.png");
}

.btn-nav-basket {
  padding-left: 44px;
  padding-right: 34px;
  padding-top: 9px;
  padding-bottom: 9px;
  position: relative;
}

.btn-nav-basket::before {
  width: 21px;
  height: 20px;
  content: "";
  position: absolute;
  top: 7px;
  left: 16px;
  background: url("../img/icons/basket.png");

}

.modal-search {
  display: none;
  position: absolute;
  margin-top: 4px;
  top: 56px;
  right: 228px;
  box-sizing: border-box;
  width: 340px;
  padding: 20px 15px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: -15px 13px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: 5;
}

.modal-search input[type="text"] {
  background-color: #ffffff;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size:14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;

  width: 310px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0;
  padding: 9px 13px;

}

.modal-login {

  box-sizing: border-box;
  position: absolute;
  top: 60px;
  right: 124px;
  box-sizing: border-box;
  width: 278px;
  padding: 20px 20px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: -15px 13px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: 5;
  display: none;
}

.modal-login input[type="text"] {
  background-color: #ffffff;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size:14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;

  width: 240px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 20px;
  padding: 9px 13px;
}

.btn-login {
  background-color: #eb553a;
  width: 100px;
  margin: 0;
  /*margin-right: 21px;*/
  padding: 10px 24px;
  border: none;
  border-radius: 18px;
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 1);

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
}

.reg-links {
  float: right;
}

.modal-login a {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
  display: block;

  margin-top: -1px;
  margin-bottom: -4px;
}


.contacts-header .hours,
.contacts-header .tel {
  display: block;
}

.contacts-header {

  float: right;
}

.hours {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-align: right;
}
.tel {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  text-align: right;
  padding-top: 2px;
}
/* ---------------------- */

.sliders {
  text-align: center;
  margin-bottom: 42px;
}

.slider-item {
  position: relative;
}

.btn-slider {
  display: block;
  width: 280px;
  margin: 0 auto;


  box-sizing: border-box;
  padding: 10px 40px;

  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);

  border-radius: 50px;
  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

/* Промо-акции */
.promo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.promo-left {
  background: url("../img/promo-left.jpg") no-repeat;
  background-position: center;
  border-radius: 15px;
  width: 560px;
}
.promo-right {
  width: 560px;
  background: url("../img/promo-right.jpg") no-repeat;
  background-position: 0 0;
  border-radius: 15px;

}
.promo-title {
  display: block;
  margin-top: 15px;
  margin-left: 18px;
  margin-bottom: 16px;
}

.promo-description {
  display: block;
  margin-top: 0;
  margin-left: 20px;
  margin-right: 24px;
  margin-bottom: 46px;
  padding: 0;


  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.btn-promo {
  float: right;

  padding: 10px 24px;

  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  border-radius: 25px;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);

  margin-right: 21px;
  margin-bottom: 21px;
}

.price {
}

.rub::before {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 31px;
  height: 36px;
  content: "";
  top: -4px;
  left: 5px;
  background: transparent url("../img/icons/rub.png") no-repeat;
}
.kg {
  font-size: 30px;
  line-height: 45px;
}

/*-- Хиты продаж */
.popular-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 28px;
}

.pop-item,
.item {
  width: 267px;
  position: relative;
  margin-bottom: 10px;
}

.pop-item::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 61px;
  height: 61px;
  background: transparent url("../img/icons/hit.png") no-repeat;
  background-position: 0px 0px;
}

.item:hover {
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.2);
  background-clip: border-box;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

}

.price {
  position: absolute;
  top: 210px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.item-description,
.btn-item {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
}
/* Описание магазина */
.features-title {
  padding-top: 22px;
  padding-left: 20px;
  padding-bottom: 25px;
  margin: 0;
  color: #323232;
}

.index-features {
  min-height: 305px;
  margin-bottom: 40px;
  background: url("../img/patterns/wafer.png") no-repeat;
  background-position: 0px 0px;
  border-radius: 20px;
  color: #000;
}
.features-content {
  display: flex;
  justify-content: space-between;
}
.features-left {
  box-sizing: border-box;
  padding-left: 40px;
  padding-right: 20px;

  list-style: none;
  margin: 0;
  margin-left: 20px;
  padding: 0;
}

.features-right {
  box-sizing: border-box;
  padding-left: 40px;
  padding-right: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-item {
  position: relative;
  padding-left: 55px;
  padding-right: 20px;
  margin-bottom: 20px;
  color: #323232;
}
.features-item::before {
  content: "";
  width: 49px;
  height: 49px;
  position: absolute;
  top: -13px;
  left: 0;
}
.features-left .features-item:nth-child(1)::before {
  background: transparent url("../img/icons/icecream.png") no-repeat;
}

.features-left .features-item:nth-child(2)::before {
  background: transparent url("../img/icons/leaf.png") no-repeat;
}
.features-right .features-item:nth-child(1)::before {
  background: transparent url("../img/icons/cow.png") no-repeat;
}

.features-right .features-item:nth-child(2)::before {
  background: transparent url("../img/icons/thermo.png") no-repeat;
}


/*-- Новости и подписка на рассылку --*/
.index-news {
  min-height: 220px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.news-title {
  color: #323232;
  padding-top: 24px;
  padding-left: 20px;
  margin: 0;
  margin-bottom: 4px;

}

.news-left {
  background: url("../img/blog.jpg") no-repeat;
  background-position: center;
  border-radius: 15px;
}

.to-post {
  display: block;
  box-sizing: border-box;
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  padding-left: 20px;
}

.news-right {
  box-sizing: border-box;
  background: url("../img/patterns/post.png") repeat;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px 26px;
}

.news-right p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;
  padding: 0;
  margin: 0;
}

.form-email input {
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'Roboto', 'Arial', sans-serif;
  color: #999999;
  width: 366px;
  padding: 9px 13px;
}

/*-- Контактная информация --*/
.index-contacts {
  position: relative;
  min-height: 430px;
  display: flex;
  justify-content: flex-end;
  background: url("../img/map.png") no-repeat;

  background-position: center;

}


.contacts {
  box-sizing: border-box;
  width: 300px;
  margin-top: 60px;
  margin-bottom: 60px;
  padding-right: 20px;
  background-color: #ffffff;
  color: #323232;
  padding: 25px;
  padding-top: 30px;
}

.address {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}
/*-- Подвал --*/

.main-footer {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

}

.footer-social {
  padding: 33px 0;
}
.social-btn {
  display: inline-block;
  width: 38px;
  height: 38px;
  margin: 0;
  margin-right: 8px;

  font-size: 0;
  vertical-align: top;
  text-decoration: none;

  background: transparent url("../img/icons/socialsprite.png") no-repeat center;
}

.social-btn-fb {
    width: 38px;
    height: 38px;
    background-position: -5px -5px;
}

.social-btn-inst {
    width: 38px;
    height: 38px;
    background-position: -53px -5px;
}

.social-btn-twt {
    width: 38px;
    height: 38px;
    background-position: -101px -5px;
}

.social-btn-vk {
    width: 38px;
    height: 38px;
    background-position: -149px -5px;
}


.footer-navigation {
  margin-left: -35px;
  padding: 30px 0;
}

.footer-col {
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  margin-right: 10px;

  padding: 0;
  padding-left: 20px;
  list-style: none;
  position: relative;

}

.footer-col:first-child::before {
  width: 15px;
  height: 13px;
  content: "";
  position: absolute;
  top: 5px;
  left: 0px;
  background: url("../img/icons/heart.png");
  display: inline-block;
  font-size: 0;
}

.footer-col a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: underline;
  color: #ffffff;
}

.footer-copyright {

  box-sizing: border-box;
  margin: 0;

  padding-top: 18px;
  padding-bottom: 22px;
  padding-left: 64px;
  text-align: left;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.author {
  display: block;
  width: 108px;
  height: 38px;
}

.made {
  display: block;
}


/*-- Каталог товаров --*/
.catalog-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 45px;
}

.item {
  width: 267px;
  margin-bottom: 25px;
}

.item img,
.pop-item img {
  border-radius: 50%;
}

.catalog-pagination {
  margin-bottom: 33px;
  text-align: right;
}

.btn-page {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
}
/* -- Хлебные крошки --*/

.add-navigation {
  float: left;

}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs li {
  display: inline-block;
}

.breadcrumbs a {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-decoration: none;
}

/* -- Заголовок --*/
.catalog-title {
  margin: 0;
  margin-bottom: 30px;
}
/* -- Фильтры --*/
.box-filters {
  margin-bottom: 35px;
}

.filter-sort,
.filter-price,
.filter-fat {
  display: inline-block;
  border: none;
}

.filter-sort select {
  border-radius: 15px;
  border: none;
}

.filter-sort option {
  background-color: rgba(248, 247, 244, 0.2);
  padding: 10px;
}

.filter-row legend {
  border: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter-taste {
  display: inline-block;
  border: none;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

.filter-taste legend {
  background-color: red;

}

.filter-taste input {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500px;
}
.filter-checkbox {
  position: relative;

  padding-left: 30px;

  cursor: pointer;
}

.filter-checkbox input[type="checkbox"] {
  display: none;
}

.filter-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  background: transparent url("../img/checkboxes/checkbox-off.png");
}

.filter-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.filter-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  background: transparent url("../img/checkboxes/checkbox-on.png");
}
